*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
	display: flex;
	/* justify-content: center;
	align-items: center; */
    flex-direction: column;
}

header {
	width: 100%;
}

nav{
	background-color: #1A355B;
	display: flex;
	justify-content: flex-end;
	padding: 0px 50px;
	margin-bottom: 30px;
}

nav li{
	display: inline-block;
	list-style: none;
	padding: 20px 20px;
}

nav li:hover{
	background-color: #6685a5a1;
}

nav .home{
	margin: auto;
	float: left;
}

nav li a {
	color: #ffffff;
	text-decoration:none ;
	font-size: 20px;
}

form{
	background-color: #f1f1f1;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 35px;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.384);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left:50%
}

.container form div {
  margin-bottom: 10px;
}

span {
  color: red;
}

input{
	width: 100%;
	margin: 5px 0 10px 0;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #c7c0c0;
}

button{
	margin: 13px 0 0 0;
	padding: 10px;
	font-weight: bold;
	font-size: medium;
	background-color: #700608;
	color: #ffffff;
	border: none ;
	border-radius: 5px;
}

input:focus{
	outline-color: #700608;
}

button:hover{
	background-color: #cf1c1f;
}

button:focus{
	outline-color: #700608;
}

.home p{
	text-align: center;
	padding: 10px 0px;
	font-size: 60px;
	font-weight:450;
}

.home .label{
	width:400px;
	padding: 5px 0px 70px 0px;
	text-align: center;

}

.home .label label{
	font-size: 20px;
	font-weight: bold;
}

select{
	padding: 5px;
	width: 150px;
}

.home li{
	list-style: none;
	width: 30%;
	padding: 15px 30px;
}
.list{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.card img{
	width: 180px;
	min-height: 170px;
	max-height: 200px;
}

.card p{
	font-size: 20px;
}

.card a{
	text-decoration: none;
	color: black;
	font-size: 55px;
}

.card a:hover{
	font-size: 55px;
	color: rgb(116, 112, 112);
}

.product{
	padding: 110px;
	text-align: center;

}

.product p{
	padding: 3px;
	font-size: 27px;
	font-weight: 300;
}

.product img{
	max-width: 400px;
	float: left;
}